scores/my-lord.eps
scores/my-lord-*.pdf
scores/my-lord.ly
scores/my-lord.pdf
scores/my-lord.mid
scores/my-lord.png
scores/my-lord-systems.count
scores/my-lord-*.eps
scores/my-lord-systems.texi
scores/my-lord-systems.tex
